/* {
	box-sizing: border-box;
	//border: solid black 1px;
}*/

#header, #content, #footer {
	width:100%;
}

.wrapper {
	width:auto;
	position: relative;
}

#header {
	height: 300px;
	position: relative; /*fixed background image overlapping nav bar - changed this from auto to relative*/
}

#header .headerbackground, #footer .footerbackground {
	width: 2000px;
	position: absolute;
}

#header ul {
	/*margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 100px;*/
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header ul li {
	display: inline-block;
	margin-left: 30px;
	padding-left: 50px;
	position: relative;
}

#header ul li a {
	font-family: 'Molengo', sans-serif;
	font-size: 20pt;
	font-weight: bold;
	display: block;
	color: rgb(59, 94, 79);
	text-decoration: none;
}

#header ul li a:hover, #header ul li.current a {
	text-decoration-line: underline;	
}

/*.searchBar {
	padding: 2px 10px;
	background-color: rgb(59, 94, 79);
	border-radius: 30px;
	width: 220px;
	position: absolute;
	margin-left: 1000px;
	margin-top: 18px;
} search bar that doesn't work yet lol*/

input {
	border: none;
	font-family: 'Molengo', sans-serif;
	font-size: 15pt;
	border-radius: 30px;
}

#header .wrapper h1, h1 {
	font-family: 'Exo', sans-serif;
	font-size: 55px;
	color: rgb(59, 94, 79);
	position: relative;
	margin-left: 25px;
	text-align: center;
	padding-top: 50px;
}

#header .wrapper h1 {
	margin-top: 205px;
}

#content {
	height: 600px;
	margin-bottom: 35px;
}

#content .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

#model-container {
	align-content: center;
}

#footer {
	height: 300px;
	margin: auto;
}

#footer h2 {
	font-weight: bold;
	color: rgb(59, 94, 79);
	margin-left: 10px;
	margin-bottom: 5px;
}

#footer p {
	font-family: 'lora', sans-serif;
	font-size: 25px;
	color: rgb(59, 94, 79);
	margin: 0;
	margin-left: 10px;
}

#footer ul {
	padding: 0;
	margin-left: 10px;
}

#footer ul li {
	font-family: 'lora', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 35px;
	color: rgb(59, 94, 79);
	list-style: none;	
}

.contact .wrapper {
	width: 400px;
	position: relative;
}

#footer a {
	font-family: 'lora', sans-serif;
	font-size: 20px;
	color: rgb(59, 94, 79);
	text-decoration: none;
}



